body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: black;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  color: black;
}

button {
  color: blue;
}

header {
  background: rgb(41, 44, 51);
  margin: 0;
  padding: 0;
  height: 80px;
}

header nav {
  margin: 0;
  padding: 20px 0 0 0;
}

header a {
  text-decoration: none;
  color: white;
}

header ul li {
  display: inline-flex;
  margin: 0;
  padding: 0;
}

header ul.TM {
  padding: 0;
  margin: 5px 0 0 0;
  text-align: center;
  align-items: center;
}

li.TM_img a {
  background-image: url("/assets/pics/home.JPG");
  background-size: cover;
  padding: 0;
  text-indent: -99999px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  overflow: display;
  position: relative;
  top: -35px;
}

header ul.TM li {
  padding: 0 10px 0 10px;
}

header ul li ul {
  padding: 0 0 0 0;
}

ul.TM_mid {
  padding: 0;
}

li.TM {
  padding: 25px 0 0 0;
}

li.TM_mid {
  font-size: 1.1rem;
  font-weight: bold;
}

.hamburgerr {
  display: none;
  cursor: pointer;
}
.hamburgerl {
  display: none;
  cursor: pointer;
}

.bar {
  background-color: white;
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0 0 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

footer {
  background: rgb(41, 44, 51);
  padding: 10px;
  margin-top: auto;
}

footer a {
  text-decoration: none;
  color: skyblue;
}

div.footer_menu {
  text-align: center;
  color: white;
  margin: auto;
  font-size: 13px;
}

div.page_content {
  margin: 0;
  padding: 0
}

div.wrapper {
  width: 900px;
  margin: auto;
}

.wrapper a {
  text-decoration: none;
  color: dodgerblue;
}

/*Here are the style choices for the tables*/
table {
  box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.2);
}
th, td {
  text-align: left;
  padding: 10px;
  padding-right: 20px;
}
th {
  background: white;
}
tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.1);
}
tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}
header a:hover {
  color: skyblue;
  transition: 0.7s ease;
}

@media(max-width: 980px) {
  header nav {
      padding: 15px 0 0 0;
  }
  .hamburgerr {
    display: block;
  }
  .hamburgerl {
    display: block;
  }
  .TM_right-menu {
    position: fixed;
    top: 90px;
    left: 100%;
    background-color: rgb(41, 44, 51);
    color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    transition: 0.3s;
    padding: 20px 0 0 0;
  }
  .TM_left-menu {
    position: fixed;
    top: 90px;
    left: -100%;
    background-color: rgb(41, 44, 51);
    color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    transition: 0.3s;
    padding: 20px 0 0 0;
  }
  li.TM {
    margin: 0 0 16px 0;
  }
  header ul.TM li {
    padding: 0 5px 0 5px;
  }
  .hamburgerl.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburgerl.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburgerl.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .hamburgerr.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburgerr.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburgerr.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .TM_left-menu.active {
    left: 0;
  }
  .TM_right-menu.active {
    left: 0;
  }

  div.footer_menu {
    width: auto;
    padding-left: 14px;
  }

  div.wrapper {
    width: auto;
    padding-left: 24px;
    padding-right: 24px;
  }
}
